/*
 * HTML ONLY STYLES
 * Color palette:
 * BIS blue: #054D82;
 */


/*
 * GENERAL, NAVBAR & LAYOUT STYLES
 */
html,
body,
#main {
  font-family: Helvetica,Arial,Verdana,Geneva,sans-serif;
  height: 100%;
}
.fill-screen {
  min-height: 100%;
}
#loadingDiv {
  background: rgba(249, 249, 249, 0.75);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: 1px solid #DDD;
  width: 100%;
  height: 100%;
  z-index: 1031;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #054D82;
  padding-top: 15%;
}
#loadingDiv .progress {
  width: 18em;
  margin: 0 auto 0.5em auto;
}
nav.navbar {
  margin-bottom: 3px;
  border-bottom-color: #054D82;
}
#feedback-tab {
  position: fixed;
  top: 40%;
  right: -25px;
  background: none repeat scroll 0% 0% padding-box #054D82;
  z-index: 1050;
  height: 7em;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0px -1px 0px rgba(68, 68, 68, 0.3);
}
#feedback-tab a {
  display: block;
  color: #FFF;
  text-decoration: none;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  padding: 30px 0px 50px 0px;
}
#footer {
  margin-top: 90px;
  padding-top: 90px;
  border-top: 1px solid #054D82;
}
/* The folowing media query makes the menu collapse on screen sizes less than 768px
 * See http://stackoverflow.com/a/20249415 */
@media (max-width: 768px) {
    .navbar-header {
      float: none;
    }
    .navbar-toggle {
      float: none;
      position: absolute;
      right: 0;
      display: block;
      background: #fff;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
ul.navbar-nav li,
p.navbar-text {
  color: #000 !important;
  font-size: 1.1em;
  margin-left: 15px;
}
.navbar-right {
  margin-right: 15px;
}
.navbar-brand {
  color: #000 !important;
  padding: 5px 15px;
  max-width: 500px;
  margin-right: 50px;
  padding-right: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
.navbar-brand small {
  font-size: 13.5px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
.navbar-brand p {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
#charts {
  border-top: 1px solid #054D82;
}


/*
 * IE STYLES
 */
body.no-fontsupport .glyphicon:before {
  font-family: 'Arial';
}
body.no-fontsupport .glyphicon-transfer:before {
  content: '↔'
}
body.no-fontsupport .glyphicon-remove:before {
  content: '˟'
}
body.no-fontsupport .glyphicon-arrow-left:before {
  content: '←'
}
body.no-fontsupport .glyphicon-arrow-right:before {
  content: '→'
}



/*
 * STYLES FOR CONTROLS
 */
#controls {
  padding: 0 15px;
}
.select2control {
  width: 100%;
}
#s2id_selectReporter .select2-chosen::before {
  font-size: 0.9em;
  font-weight: bold;
  content: "Reporter: ";
}
#switchPartners {
  position: relative;
  font-size: 14px;
  z-index: 1;
}
#s2id_selectPartner {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 38px;
  z-index: 0;
}
#s2id_selectPartner .select2-chosen::before {
  font-size: 0.9em;
  font-weight: bold;
  content: "Partner: ";
}
#s2id_selectCommodity .select2-chosen::before {
  font-size: 0.9em;
  font-weight: bold;
  content: "Commodity: ";
}
#s2id_selectReporter,
#s2id_selectCommodity,
#s2id_selectPartner,
#s2id_selectYear,
.selectReporter,
.selectCommodity,
.selectPartner,
.selectYear {
  margin-bottom: 0.5em;
}
.clearBtnWrapper .btn {
  width: 100%;
}
#clearFilters {
  font-size: 14px;
}
#goToCharts {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 250px;
  text-align: right;
  font-size: 26px;
  color: #054D82;
}
#goToMap {
  position: relative;
  top: 0;
  right: 18px;
  text-align: right;
  font-size: 26px;
  color: #054D82;
}
/*
 * The following media query changes the gutter size between cols to be a bit slimmer
 * See http://stackoverflow.com/a/19179407
 * And also set the upper padding for the fullscreen pages
 * */
@media (max-width: 768px) {
  #main,
  #charts {
    padding-top: 183px;
  }
  #charts {
    margin-top: 183px;
  }
}
@media (min-width: 768px) {
  div[class^="col"] {
    padding-left:5px;
    padding-right:5px;
  }
  #main,
  #charts {
    padding-top: 115px;
  }
  #charts {
    margin-top: 115px;
  }
}
@media (min-width: 992px) {
  div[class^="col"] {
    padding-left:5px;
    padding-right:5px;
  }
  #main,
  #charts {
    padding-top: 90px;
  }
  #charts {
    margin-top: 90px;
  }
}
@media (min-width: 1200px) {
  div[class^="col"] {
    padding-left:5px;
    padding-right:5px;
  }
}




/*
 * STYLES FOR THE INFOBOX
 */
#infoBox {
  position: absolute;
  height: 18em;
  font-size: 0.9em;
  overflow: hidden;
}
#infoBoxPlaceholder,
#infoBox .panel {
  height: 18em;
}
#infoBox .panel-heading,
#infoBox .panel-body {
  padding: 3px 10px;
}
#infoBox .dl-horizontal {
  margin-bottom: 3px;
}
#infoBox .dl-horizontal dt {
  width: 50%;
  padding-right: 3px;
}
#infoBox .dl-horizontal dd {
  width: 50%;
  margin-left: 50%;
  padding-right: 3px;
}
#infoBox .ranking {
  font-size: 0.95em;
}



/*
 * STYLES FOR THE CHOROPLETH
 */
#choropleth {
  height: 100%;
  position: relative;
  top: 0;
}
#choroplethTitle {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 100;
  text-align: center;
  z-index: 0;
  padding-top: 3px;
}
#choroplethTitle div.titleDropdown {
  float: none;
  display: inline;
}
#choroplethTitle div.titleDropdown button {
  margin-top: -10px;
}
#choroplethTitle div.chartTitle {
  float: none;
  display: inline;
  margin-top: 0;
  background-color: #fff;
}
#flowButtons {
  position: absolute;
  top: 30px;
  height: 35px;
  width: 14em;
  z-index: 10;
}
@media (max-width: 768px) {
  #choroplethTitle div.chartTitle {
    font-size: 18px;
  }
  #flowButtons {
    top: 40px;
  }
  #flowButtons .btn-sm {
    padding: 1px 5px;
  }
}
#mapLegend {
  position: absolute;
  top:  63px;
  background: rgba(255, 255, 255, 0.5);
}
#choroplethInfo {
  position: absolute;
  bottom: 15px;
  width: 31%;
  height: 19em;
  font-size: 11px;
}
#choroplethInfo dl.dl-horizontal {
  margin-bottom: 0;
}
#choroplethInfo .countryName,
#choroplethInfo .commodity {
  font-weight: bold;
}
#contextMenu {
  position: absolute;
  display:none;
}
#contextMenu .dropdown-header {
  color: #054D82;
  font-size: 16px;
  font-weight: bold;
}
#closeContextMenu {
  margin: 2px 0 0 2px;
}




/*
 * STYLES FOR LINE AND BAR CHARTS
 */
.chartTitle {
  display: block;
  color: #054D82;
  font-size: 24px;
  line-height: 1em;
  float: left;
  width: 90%;
  height: 2em;
}
.titleDropdown {
  float: left;
  width: 5%;
}
.titleDropdown button {
  margin-top: -1px;
}
.barchart {
  height: 27em;
  margin-bottom: 3em;
}
#yearChart .chartTitle {
  margin-top: 0;
}
#yearChart .chart {
  height: 19em;
}
#topExportCommodities,
#topImportCommodities,
#topExportMarkets,
#topImportMarkets {
  padding-top: 6em;
}




/*
 * STYLES FOR TOOLTIP
 */
.d3-tip {
  line-height: 1;
  font-size: 11px;
  max-width: 15em;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}


/*
 *  ADJUSTMENTS FOR EMBEDDED CHARTS
 */
.embed #main {
  padding-top: 0;
  margin-top: 0;
  height: auto;
}
.embed #charts {
  padding-top: 0;
  margin-top: 5px;
  border: none;
}
.embed .fill-screen {
  min-height: inherit;
}
.embed #goToMap,
.embed #goToCharts,
.embed #infoBoxPlaceholder,
.embed .titleDropdown,
.embed #flowButtons,
.embed #choroplethTitle div.titleDropdown {
  display: none;
}
.choroplethEmbedded #choropleth,
.yearChartEmbedded #yearChart,
.topImportCommoditiesEmbedded #topImportCommodities,
.topExportCommoditiesEmbedded #topExportCommodities,
.topImportMarketsEmbedded #topImportMarkets,
.topExportMarketsEmbedded #topExportMarkets
{
  padding-top: 0;
  width: 100%;

  max-height: 100%;
}
.choroplethEmbedded #choropleth {
  height: auto;
}
.choroplethEmbedded #choropleth .chart {
  max-height: 100%;
  padding-top: 1.6em;
}
.embed #mapLegend {
  top: 1.6em;
}
.embed dl.dl-horizontal dt {
  width: 12%;
  float: left;
}
.embed dl.dl-horizontal dd {
  width: 85%;
  margin-left: 15%;
}
.embed #embedCredit p {
  margin: 0;
}
.embed.yearChartEmbedded #embedCredit {
  margin-top: 4em;
}
.embed.topImportCommoditiesEmbedded #embedCredit,
.embed.topExportCommoditiesEmbedded #embedCredit,
.embed.topImportMarketsEmbedded #embedCredit,
.embed.topExportMarketsEmbedded #embedCredit {
  margin-top: 0.5em;
}


/*
 *  Intro.js styles
 */
.introjs-helperNumberLayer {
  line-height: 15px;
  padding: 0;
}
.introjs-tooltip {
  min-width: 600px;
  max-width: 800px;
}
.introjs-tooltiptext {
  font-size: 18px;
}
.introjs-button {
  font-size: 14px;
  color: #333 !important;
}
.introjs-tooltipbuttons {
  text-align: right;
}
.introjs-skipbutton {
  float: left;
}
